/*
  Hide Allday through CSS
*/

.rbc-time-view .rbc-row {
    min-height: 0px;
}
.rbc-time-view .rbc-row div:nth-child(1) {
    height: 0px !important;
}
button.rbc-event-allday {
  display: none;
}
.rbc-time-content {
  border:none;
}


/*
  Removing Borders
*/
.rbc-time-view {
  border:none;
}
.rbc-today {
  background: none;
}
.rbc-timeslot-group {
  border: none
}

/* 
  Updating Style to match evergreen
*/

.rbc-time-slot {
  font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: rgb(66, 90, 112);
}

.rbc-event-content {
  padding-top: 3px;
}

/*
  Removing the time in the calendar
*/
.rbc-event-label {
  display: none;
}

/*
  Shorten Calendar
*/
.rbc-timeslot-group {
  min-height: 30px;
}


/*
  Fix Toolbar to display Date first
*/
.rbc-toolbar button {
  border: none;
  padding: 0;
  display: flex;
}

.rbc-toolbar {
  width: 300px;
  justify-content: normal;
  margin-top: 4px;
  margin-bottom: 20px;
}


/*
  Padding for a fixed sidebar
*/

main {
  padding-left:210px;
}

