.App {
  text-align: center;
  height:800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

/*
  Hide Allday through CSS
*/

.rbc-time-view .rbc-row {
    min-height: 0px;
}

.rbc-time-view .rbc-row div:nth-child(1) {
    height: 0px !important;
}

button.rbc-event-allday {
  display: none;
}

/*
.sidebar {
  float: left;
  width: 80px;
  height: 100%;
  color: white;
  background: grey;
}


.rbc-calendar {
  float: left;
}
*/