.App {
  text-align: center;
  height:800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

/*
.sidebar {
  float: left;
  width: 80px;
  height: 100%;
  color: white;
  background: grey;
}


.rbc-calendar {
  float: left;
}
*/